<!DOCTYPE html>
<html>
	<link rel="stylesheet"
		  type="text/css"
		  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
	<link rel='stylesheet' href='/style.css' />
	<head>
		<title>Restful Blog</title>
	</head>
	<body>
		<div class="ui fixed inverterd menu">
			<div class="ui container">
				<div class="header item"> <i class="compass outline icon"></i> Blog Site </div>
				<a href="/" class="item"> Home </a>
				<a href="/blogs/new" class="item"> New Post </a>
			</div>
		</div>
		